@mixin content-bg-base {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin padding-base {
    padding: $padding-vert $padding-horz;
}
@mixin col-base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @include padding-base;
}