.main-content {
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
  background: linear-gradient(
    to right bottom,
    rgba($color-secondary, 0.9),
    rgba($color-tertiary, 0.9),
    rgba($color-primary, 0.9),
    rgba($color-tertiary, 0.9),
    rgba($color-secondary, 0.9)
  );
  max-width: 100%;
  background-size: 400% 400%;
  animation: gradientBg 15s linear infinite;
  /* polygon coordinence path left-top, right-top, right-bottom, left-bottom */
  padding: 0 1.6rem;
  position: relative;
}
.main-logo {
  width: 90%;
  max-width: 600px;
  animation: moveInLeft 1s ease-in-out;
}
.main-cta {
  text-decoration: none;
}
@media only screen and (min-width: 600px) {
  .main-content {
    clip-path: polygon(0 0, 100% 0, 100% 590px, 0 100%);
    height: 600px;
  }
}
