.phone {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: $color-text-light;
  z-index: 1;
  justify-content: flex-end;
}
.phone-icon {
  font-size: 1.3rem;
  margin-right: .25rem;
}
.main-content {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  background: linear-gradient(to right bottom, 
    rgba($color-secondary, .90), 
    rgba($color-tertiary, .9), 
    rgba($color-primary, .90), 
    rgba($color-tertiary, .90), 
    rgba($color-secondary, .90));
  max-width: 100%;
  background-size: 400% 400%;
  animation: gradientBg 15s linear infinite;
  /* polygon coordinence path left-top, right-top, right-bottom, left-bottom */
  clip-path: polygon(0 0, 100% 0, 100% 475px, 0 100%);
  padding: 0 1rem;
  position: relative;
}
.butterfly-icon {
  animation: moveInBottom 1s ease-in-out .5s;
}
.main-logo {
  width: 90%;
  max-width: 600px;
  animation: moveInLeft 1s ease-in-out;
}

  