.main-content {
  box-sizing: border-box;
  width: 100%;
  min-height: 80vh;
  background: linear-gradient(
    to right bottom,
    rgba($color-secondary, 0.9),
    rgba($color-tertiary, 0.9),
    rgba($color-primary, 0.9),
    rgba($color-tertiary, 0.9),
    rgba($color-secondary, 0.9)
  );
  max-width: 100%;
  background-size: 400% 400%;
  animation: gradientBg 15s linear infinite;
  /* polygon coordinence path left-top, right-top, right-bottom, left-bottom */
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  background-color: rgba($color-primary, 0.9);
  padding: 0 1.6rem;
  position: relative;
}
.main-logo {
  width: 90%;
  max-width: 600px;
  animation: moveInLeft 1s ease-in-out;
}
.main-cta {
  text-decoration: none;
}

.services {
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: flex-start;

  p {
    font-size: 1.6rem;
    text-align: left;
    color: $color-text-dark;
  }
}
@media only screen and (min-width: 600px) {
  .main-content {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    height: 600px;
  }
}
