.butterfly-icon {
    width: 75px;
    margin-bottom: 1rem;
    // fill: $color-fills;
}
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .25rem;
    color: $color-text-dark;
    font-weight: 400;
}
.header-icon {
    font-size: 1.5rem;
}
@media only screen and (min-width: 600px) {
    header {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}