@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
.wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 1rem;
}
.main-content {
    height: 75vh;
    max-width: 100%;
    background-image: linear-gradient(to right bottom, rgba(255, 231, 154, 0.8),rgba(255, 244, 182, 0.1)), url('../images/butterfly-on-flower-25.jpg');
    background-size: cover;
    background-position: center;
    /* polygon coordinence path top-left, top-right, bottom-right, bottom-left */
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 125px;
    overflow-y: scroll;
}
.main-branding {
    width: 100%;
    text-align: center;
}
.main-logo {
    width: 90%;
    max-width: 600px;
    animation: moveInLeft 1s ease-in-out;
}
.main-headline {
    width: 100%;
    padding-top: .5rem;
    text-align: center;
    animation: moveInRight 1s .5s ease-in-out;
}
.main-headline__title {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 300;
    font-size: 1.0rem;
    line-height: 1.5rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}
.main-cta {
    margin-top: 2rem;
}
.btn, .btn:visited {
    padding: 1.25rem 2.5rem;
    border-radius: 120px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    transition: all .25s;
}
.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 390px) {
  .main-headline__title {
    font-size: 1.0rem;
  }
}
@media only screen and (min-width: 465px) {
  .main-headline__title {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 600px) {
  .main-headline__title {
    font-size: 2rem;
  }
}